<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="Preshot"
          Description="Preshot photography planning"
          Target="[INSTALLDIR]Preshot.exe"
          WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="DesktopRemoveFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\com.yucdong.preshot"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DesktopShortcuts">
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </ComponentGroup>
  </Fragment>
</Wix>
